<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>유저 관리 페이지</title>
    <script>
        let books;
        function setTable(books) {
            let list = document.getElementById("list");
            books.forEach(e => {
                let tr = document.createElement("tr");
                let td = document.createElement("td");
                td.innerText = e.id;
                tr.appendChild(td);
                td = document.createElement("td");
                td.innerText = e.kind;
                tr.appendChild(td);
                td = document.createElement("td");
                td.innerText = e.state;
                tr.appendChild(td);
                td = document.createElement("td");
                td.innerText = e.email;
                tr.appendChild(td);
                td = document.createElement("td");
                td.innerText = e.nickname;
                tr.appendChild(td);
                td = document.createElement("td");
                td.innerText = e.phoneNumber;
                tr.appendChild(td);
                td = document.createElement("td");
                td.innerHTML += "<button onclick='chgButton(" + e.id + ")'>수정하기</button>";
                tr.appendChild(td);
                list.appendChild(tr);
            });
        }

        function chgButton(e) {
            window.location.href = "user/edit/" + e;
        }

        function getAccounts() {
            fetch('/api/v1/accounts/list', {
                method: 'GET',
                headers:{
                    'Content-Type': 'application/json',
                    'Authorization': sessionStorage.getItem("jwt"),
                }
            })
                .then(function(response) {
                    return response.json();
                })
                .then(function(myJson) {
                    console.log(JSON.stringify(myJson.result));
                    books = myJson.result;
                    setTable(books);
                });
        }

        window.onload = function () {
            getAccounts();
        }
    </script>
</head>
<body>
<table>
    <thead>
    <tr>
        <th> id</th>
        <th> kind</th>
        <th> state</th>
        <th> email</th>
        <th> nickname</th>
        <th> phoneNumber</th>
        <th></th>
    </tr>
    </thead>
    <tbody id="list">
    </tbody>
</table>
<button onclick="window.location.href='/admin'">어드민으로 돌아가기</button>
<button onclick="window.location.href='/admin/user/save'">유저 추가하기</button>
</body>
</html>